<div class="container">
	<div class="row home-main">

		<%= render 'layouts/genre_search' %>

		<!-- HOME画面のメイン -->
		<div class="col-xs-9">
			<div class="main-view">
				<div class="main-view-text">
					<p>
						ようこそ、NaganoCakeへ！</br>
						このサイトは、ケーキ販売のECサイトになります。</br>
						会員でない方も商品の閲覧はできますが、</br>
						購入には会員登録が必要になります。
					</p>
				</div>
			</div>
			<div class="favorite-wrapper">
				<h2>オススメ商品</h2>

				<!-- オススメ商品一覧表示 -->
				<div class="favorite-products">
					<div class="favorite-product">
						<div class="favorite-product-pic"></div>
						<p class="favorite-product-title">商品名</p>
						<p class="favorite-product-price">¥0,000</p>
					</div>
					<div class="favorite-product">
						<div class="favorite-product-pic"></div>
						<p class="favorite-product-title">商品名</p>
						<p class="favorite-product-price">¥0,000</p>
					</div>
					<div class="favorite-product">
						<div class="favorite-product-pic"></div>
						<p class="favorite-product-title">商品名</p>
						<p class="favorite-product-price">¥0,000</p>
					</div>
					<div class="favorite-product">
						<div class="favorite-product-pic"></div>
						<p class="favorite-product-title">商品名</p>
						<p class="favorite-product-price">¥0,000</p>
					</div>
				</div>
				<div class="more-products">
					<a href="#">もっと見る></a>
				</div>
			</div>
		</div>
	</div>
</div>