<div class="row">
	<h2>ショッピングカート</h2>
	<%= link_to "カートを空にする", empty_path, method: :delete, class: "" %>
</div>

<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th colspan="2">商品名</th>
					<th>単価(税込)</th>
					<th colspan="2">数量</th>
					<th>小計</th>
					<th></th>
				</tr>
			</thead>

			<tbody>

				<tr>
					<td></td>
					<td>商品名</td>
					<td>1,100</td>
					<td>1</td>
					<td></td>
					<td><%= link_to "削除する", "#" %></td>
				</tr>

			</tbody>
		</table>
</div>
