<div class="row">

	<%= render 'layouts/genre_search' %>

	<div class="col-xs-9">
		<h2>商品一覧</h2>
		<div class="products">
			<div class="product">
				<div class="product-index-image"></div>
				<p class="product-name">商品名</p>
				<p class="product-price">¥0,000</p>
			</div>

			<div class="product">
				<div class="product-index-image"></div>
				<p class="product-name">商品名</p>
				<p class="product-price">¥0,000</p>
			</div>

			<div class="product">
				<div class="product-index-image"></div>
				<p class="product-name">商品名</p>
				<p class="product-price">¥0,000</p>
			</div>

			<div class="product">
				<div class="product-index-image"></div>
				<p class="product-name">商品名</p>
				<p class="product-price">¥0,000</p>
			</div>
		</div>
	</div>
</div>